#Directories
src/scripts/node_modules
/vendor/
*.pdf
*.code-workspace
/pages/PHPMailer
/pages/connexion_déconnexion/bdd_connexion.php

#files
composer.phar
composer-setup.php
composer.json
composer.lock
DS_Store