@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    text-decoration: none;
    color: red;
}

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #EBEBEB;
    margin: 0;
    padding: 0;
}

header {
    color: #707070;
    text-align: center;
}

input {
    border-radius: 30px;
    border: solid #707070 1px;
    padding: 12px;
    margin-top: 1.5em;
}

select {
    margin-top: 1.5em;
}

textarea {
    resize: none;
    font-family: 'Padauk', sans-serif;
    border: solid #707070 1px;
}

button {
    height: max-content;
    width: max-content;
    background-color: black;
    color: white;
    font-size: medium;
    border: none;
    border-radius: 30px;
}

button:hover {
    transition: .25s;
    background-color: rgb(122, 122, 122);
    box-shadow: 2px 2px 2px 1px rgb(92, 92, 92);
}

button:active {
    transition: .15s;
    background-color: rgb(187, 187, 187);
    box-shadow: 0 0 2px 2.5px rgb(92, 92, 92) inset;
    color: #707070;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

#wrapper{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.petit-container {
    width: max-content;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 4vh;
    margin-right: 4vh;
}

#contact {
    padding: 0 15px;
    text-align: center;
    border: black solid 1px;
}

#btn-send {
    display: block;
    margin: 0 auto;
    max-height: fit-content;
    padding: 10px;
}

#btn-sure {
    padding: 10px;
}

#form-sure {
    display: block;
    border: 1px black solid;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: 15vh;
    text-align: center;
    width: max-content;
    padding: 10px;
}

#form-sure button {
    margin-top: 15px;
}

.success {
    margin: 0 auto;
    margin-bottom: 1.3em;
    padding: .6em;
    width: max-content;
    height: auto;
    background-color: green;
    border-radius: 20px;
    color: white;
}

.error {
    margin: 0 auto;
    padding: .5em;
    width: max-content;
    height: auto;
    background-color: red;
    border-radius: 20px;
    color: white;
}