@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 16px;
    font-family: 'Padauk', sans-serif;
    background-color: #CCC;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    box-shadow: 0 2px 6px black;
}

a {
    text-decoration: none;
    color: white;
}

#wrapper {
    height: auto;
    width: 50%;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FFF;
    box-shadow: 4px 4px 3px rgb(69, 69, 69);
    border-radius: 15px;
}

button {
    font-size: 16px;
    padding: .7em;
    font-weight: bold;
    background-color: #5f14ff;
    color: #FFF;
    border-style: none;
    border-radius: 7px;
}

button#btn_form {
    background-color: #ff3300;
    color: #FFF;
}

button#btn_form:hover {
    box-shadow: 4px 3px 1px #bf4f00;
    background-color: #ff6600;
}

button#btn_form:not(:hover) {
    transition: 0.3s;
    background-color: #ff3300;
}

button#btn_form:active {
    box-shadow: 0 0 6px 3px #700000 inset;
    background-color: #ae2100;
}

button:hover {
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 4px 3px 1px #014ca9;
    background-color: #007bff;
}

button:not(:hover) {
    transition: 0.3s;
    background-color: #5f14ff;
}

button:active {
    box-shadow: 0 0 6px 2px #000d7a inset;
    background-color: #4c00ff;
}